
@{
    ViewData["Title"] = "Comments";
    Layout = "_Layout";
}

<!DOCTYPE html>




<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1B295B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #f1f1f1;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #818181;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 25px;
                margin-left: 50px;
            }

        media screen and (max-height: 450px) {
            .sidenav





        {
            padding-top: 10px;
        }

        .sidenav a {
            font-size: 10px;
        }
        }
    </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/User/RequestInfoesCreate">Create</a>
        <a href="/User/UserTablesCreate">User Information</a>
        <a href="/User/UserRequirementsCreate">Requirements</a>
        <a href="/User/VmsRolegroupsCreate">Application Access (VMS Role/Group)</a>
        <a href="/User/OtsAccessCreate">Application Access (OTS Access)</a>
        <a href="/User/BpoRoleGroupsCreate">Application Access (BPO Role/Group)</a>
        <a href="/User/LrvRoleGroupCreate">Application Access (LRV Role/Group)</a>
        <a href="/User/ReviewerInfo">Reviewer Information</a>
        <a href="/User/Comments">Additional Comments</a>
    </div>




    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <script>
function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }</script> <br>

</body>

</html>
<h2>User Request Form</h2>
<h4>Special Instructions or Additonal Comments</h4>
<br />
<br />
<br />

<div class="container">
    <div class="row justify-content-center">

        <form class="form-horizontal" asp-action="/User/Create" method="post">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label class="col-4" for="pwd">***MUST HAVE:</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-4" for="pwd">&nbsp;a.&nbsp; Any equipment requests include a personal phone # for asset sign out sheet</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-4" for="pwd">&nbsp;b.&nbsp; Shipped equipment needs a delivery address, email address and phone #.</label>
                        </td>
                    </tr>
                </table>
                <br />
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="comment" placeholder="Enter your comment" />
                </div>

            </div>
        </form>
        <p> *Once submitted, user may not return to previous pages*</p>
        <a href="/User/reviewerinfo">Previous</a> &emsp;
        <a href="/User/post">Submit</a>


    </div>
</div>

