@model PCVTry.Models.OtsAccess
@{
    ViewData["Title"] = "OtsAccessCreate";
    Layout = "_Layout";
}  <!DOCTYPE html>
   
<html>
 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <style>
          body {
              font-family: "Lato", sans-serif;

        }

           .sidenav {
              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #1B295B;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 60px;

        }

               .sidenav a {
                  padding: 8px 8px 8px 32px;
                  text-decoration: none;
                  font-size: 15px;
                  color: #f1f1f1;
                  display: block;
                  transition: 0.3s;

            }

                   .sidenav a:hover {
                      color: #818181;

                }

               .sidenav .closebtn {
                  position: absolute;
                  top: 0;
                  right: 25px;
                  font-size: 25px;
                  margin-left: 50px;

            }

           media screen and (max-height: 450px) {
              .sidenav    

        {
              padding-top: 10px;

        }

           .sidenav a {
              font-size: 10px;

        }


        }

    </style> 
</head> 
<body>
    <div id="mySidenav" class="sidenav">         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>         <a href="/User/RequestInfoesCreate">Create</a>         <a href="/User/UserTablesCreate”>User Information</a>         <a href="/User/UserRequirementsCreate">Requirements</a>         <a href="/User/VmsRolegroupsCreate">Application Access VMS Role/Group</a>         <a href="/User/OtsAccessCreate">Application Access OTS Access</a>         <a href="/User/BpoRoleGroupsCreate">Application Access BPO Role/Group</a>         <a href="/User/LrvRoleGroupCreate">Application Access LRV Role/Group</a>         <a href="/User/ReviewerInfo">Reviewer Information</a>     </div>         <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> 
    <script>function openNav() {             document.getElementById("mySidenav").style.width = "250px";         }          function closeNav() {             document.getElementById("mySidenav").style.width = "0";         }</script> <br> 
</body> 
</html>
<h2>User Request Form</h2>
<h4>OTS Additional Access</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OtsAccessCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OtsAccessId" class="control-label"></label>
                <input asp-for="OtsAccessId" class="form-control" />
                <span asp-validation-for="OtsAccessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Return" class="control-label"></label>
                <input asp-for="Return" class="form-control" />
                <span asp-validation-for="Return" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MultiAssign" class="control-label"></label>
                <input asp-for="MultiAssign" class="form-control" />
                <span asp-validation-for="MultiAssign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteOrder" class="control-label"></label>
                <input asp-for="DeleteOrder" class="form-control" />
                <span asp-validation-for="DeleteOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToReassign" class="control-label"></label>
                <input asp-for="ToReassign" class="form-control" />
                <span asp-validation-for="ToReassign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecreateOrder" class="control-label"></label>
                <input asp-for="RecreateOrder" class="form-control" />
                <span asp-validation-for="RecreateOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppraisalTagShip" class="control-label"></label>
                <input asp-for="AppraisalTagShip" class="form-control" />
                <span asp-validation-for="AppraisalTagShip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintainTagReasons" class="control-label"></label>
                <input asp-for="MaintainTagReasons" class="form-control" />
                <span asp-validation-for="MaintainTagReasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintainClariReasons" class="control-label"></label>
                <input asp-for="MaintainClariReasons" class="form-control" />
                <span asp-validation-for="MaintainClariReasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditAdmin" class="control-label"></label>
                <input asp-for="AuditAdmin" class="form-control" />
                <span asp-validation-for="AuditAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisputeQueueAccess" class="control-label"></label>
                <input asp-for="DisputeQueueAccess" class="form-control" />
                <span asp-validation-for="DisputeQueueAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
