@model PCVTry.Models.VmsRolegroup

@{
    ViewData["Title"] = "VmsRolegroupsCreate";
    Layout = "_Layout";
}

<!DOCTYPE html>




<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1B295B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #f1f1f1;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #818181;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 25px;
                margin-left: 50px;
            }

        media screen and (max-height: 450px) {
            .sidenav





        {
            padding-top: 10px;
        }

        .sidenav a {
            font-size: 10px;
        }
        }
    </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/User/RequestInfoesCreate">Create</a>
        <a href="/User/UserTablesCreate">User Information</a>
        <a href="/User/UserRequirementsCreate">Requirements</a>
        <a href="/User/VmsRolegroupsCreate">Application Access (VMS Role/Group)</a>
        <a href="/User/OtsAccessCreate">Application Access (OTS Access)</a>
        <a href="/User/BpoRoleGroupsCreate">Application Access (BPO Role/Group)</a>
        <a href="/User/LrvRoleGroupCreate">Application Access (LRV Role/Group)</a>
        <a href="/User/ReviewerInfo">Reviewer Information</a>
        <a href="/User/Comments">Additional Comments</a>
    </div>




    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <script>
function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }</script> <br>

</body>

</html>

<h2>User Request Form</h2>

<h4>VMS Role/Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VmsRolegroupsCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VmsroleGroupId" class="control-label"></label>
                <input asp-for="VmsroleGroupId" class="form-control" />
                <span asp-validation-for="VmsroleGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountGroup" class="control-label"></label>
                <input asp-for="AccountGroup" class="form-control" />
                <span asp-validation-for="AccountGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminSupport" class="control-label"></label>
                <input asp-for="AdminSupport" class="form-control" />
                <span asp-validation-for="AdminSupport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignor" class="control-label"></label>
                <input asp-for="Assignor" class="form-control" />
                <span asp-validation-for="Assignor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auditor" class="control-label"></label>
                <input asp-for="Auditor" class="form-control" />
                <span asp-validation-for="Auditor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliServiDeptMgr" class="control-label"></label>
                <input asp-for="CliServiDeptMgr" class="form-control" />
                <span asp-validation-for="CliServiDeptMgr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliServiGroup" class="control-label"></label>
                <input asp-for="CliServiGroup" class="form-control" />
                <span asp-validation-for="CliServiGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialGroup" class="control-label"></label>
                <input asp-for="CommercialGroup" class="form-control" />
                <span asp-validation-for="CommercialGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractorQc" class="control-label"></label>
                <input asp-for="ContractorQc" class="form-control" />
                <span asp-validation-for="ContractorQc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itgroup" class="control-label"></label>
                <input asp-for="Itgroup" class="form-control" />
                <span asp-validation-for="Itgroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessingShippingGroup" class="control-label"></label>
                <input asp-for="ProcessingShippingGroup" class="form-control" />
                <span asp-validation-for="ProcessingShippingGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QcsupervisorLead" class="control-label"></label>
                <input asp-for="QcsupervisorLead" class="form-control" />
                <span asp-validation-for="QcsupervisorLead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qc" class="control-label"></label>
                <input asp-for="Qc" class="form-control" />
                <span asp-validation-for="Qc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesGroup" class="control-label"></label>
                <input asp-for="SalesGroup" class="form-control" />
                <span asp-validation-for="SalesGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusGroup" class="control-label"></label>
                <input asp-for="StatusGroup" class="form-control" />
                <span asp-validation-for="StatusGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorRelationsGroup" class="control-label"></label>
                <input asp-for="VendorRelationsGroup" class="form-control" />
                <span asp-validation-for="VendorRelationsGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
